ipykernel==4.9.0
ipython==5.8.0
ipython-genutils==0.2.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
matplotlib==3.0.2
numpy==1.21.6
pgzero==1.2
Pillow==5.4.1
protobuf==4.22.1
python-apt==1.8.4.1
requests==2.21.0
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
tensorboard==2.0.2
termcolor==2.2.0
tflite-runtime==2.11.0
thonny==3.2.6
typing-extensions==4.5.0
virtualenv==20.23.0
